.sticky-image-container {
  position: sticky;
  top: calc(50% - 100px);
  height: 100%;
}

.gradient-heading {
  color: transparent;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

@media (max-width: 540px) {
  .sticky-image-container {
    position: relative;
    top: 0;
    height: fit-content;
  }
}
