@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .paragraph {
    @apply text-base [word-spacing:2px] font-[600] font-manrope tracking-wide  text-black-shade-200 md:text-lg md:leading-8;
  }

  .heading-large {
    @apply text-3xl leading-snug sm:text-4xl lg:text-6xl;
  }

  .heading-medium {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl;
  }

  .heading-small {
    @apply text-xl md:text-[1.4rem] tracking-wider lg:text-2xl;
  }
}

@layer utilities {
  .section {
    @apply mt-12 md:mt-16 lg:mt-24;
  }
  .section-y {
    @apply my-12 md:my-16 lg:my-16;
  }

  .padding-y {
    @apply py-2 md:py-4 lg:py-6;
  }

  .top-section-p {
    @apply pt-12 pb-4 md:pt-14 md:pb-8 lg:pt-20 lg:pb-10;
  }

  .margin-t {
    @apply mt-6 md:mt-12 lg:mt-16;
  }

  .padding-y-lg {
    @apply pt-14 pb-14 sm:pt-12 sm:pb-8 md:pt-16 md:pb-10 lg:pt-[5.3rem] lg:pb-[5.3rem];
  }
}

:root {
  --width: 1400px;
  --ct-margin: 40px;
  --ct-margin-compact: 80px;
  --pct-margin-top: 40px;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  font-family: var(--font-poppins);
  background-color: #f5f5f7;
}

.container-margin {
  width: var(--width);
  max-width: calc(100% - var(--ct-margin));
  margin-left: auto;
  margin-right: auto;
}

.container-margin-compact {
  width: 1200px;
  max-width: calc(100% - var(--ct-margin));
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  width: var(--width);
  max-width: calc(100% - var(--ct-margin));
  margin-top: var(--pct-margin-top);
  margin-left: auto;
  margin-right: auto;
}

.gradient {
  /* Display & Box Model */
  --bg-size: 300%;
  /* Other */
  --color-one: #ff6600;
  --color-two: #fe9600;
  --color-three: #ff867a;
  background: linear-gradient(
      0deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-one)
    )
    0 0 / var(--bg-size) 120%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 15s infinite linear;
}

.gradient-x {
  /* Display & Box Model */
  --bg-size: 300%;
  /* Other */
  --color-one: #ff6600;
  --color-two: #fe9600;
  --color-three: #ffbb00;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-three),
      var(--color-one)
    )
    0 0 / var(--bg-size) 120%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 15s infinite linear;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media screen and (min-width: 540px) {
  :root {
    --ct-margin: 60px;
    --pct-margin-top: 65px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --pct-margin-top: 70px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --ct-margin: 100px;
    --pct-margin-top: 75px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --ct-margin: 130px;
    --pct-margin-top: 80px;
  }
}

.glow-effect:hover {
  box-shadow: 0 0 10px rgba(255, 175, 71, 0.918);
}

/* -----------------Flicker Effect------------------- */
.flicker {
  /* Display & Box Model */

  margin: 0;
  padding: 0;
}

.flicker li {
  /* Other */
  list-style: none;
  color: #282828;
  animation: lighting 3s linear infinite; /*Mod3: Control animation speed*/
}

@keyframes lighting {
  0% {
    /* Other */
    color: #ff8b56;
    text-shadow: none;
  }

  90% {
    /* Other */
    color: #484848;
    text-shadow: none;
  }

  100% {
    /* Other */
    color: #fe9600;
  }
}

/*----------------Mod4: Control the animation delay for delay between individual letters-----------------*/

.flicker li:nth-child(1) {
  animation-delay: 0;
}

.flicker li:nth-child(2) {
  animation-delay: 0.2s;
}

.flicker li:nth-child(3) {
  animation-delay: 0.4s;
}

.flicker li:nth-child(4) {
  animation-delay: 0.6s;
}

.flicker li:nth-child(5) {
  animation-delay: 0.8s;
}
.flicker li:nth-child(6) {
  animation-delay: 1s;
}
.flicker li:nth-child(7) {
  animation-delay: 1.2s;
}

.flicker li:nth-child(8) {
  animation-delay: 1.4s;
}
