.link:hover .underline {
  width: 100%;
}

.icon {
  color: aliceblue;
  transition: all 0.5s ease;
}

.height {
  min-height: calc(100vh - 4.9rem);
}

@keyframes arrowIconHoverAnimation {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-4px);
  }

  75% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}
